body {
    background-color: #404040;
    color: white;
}

#main_wrapper {
    display: flex;
    flex-direction: row;
}

.ui_half {
    width: 50vw;
}

.center_elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content_inp {
    width: 90%;
    height: 80vh;
    resize: none;
    font-size: large;
    margin-bottom: 5%;
    background-color: #202020;
    color: white;
    border: none;
    border-radius: 5px;
}

#submit_btn {
    min-width: 10vw;
    min-height: 3vw;
    background-color: #202020;
    color: white;
    font-size: xx-large;
    border: none;
    border-radius: 10px;
}

#main_table {
    font-size: larger;
}

#main_table > tr > span {
    text-wrap: nowrap;
}

#main_table > tr > td:nth-child(1) {
    text-align: right;
    color: #BBB;
}

#sum_text {
    font-size: xx-large;
    font-weight: bold;
}